language: node_js

node_js:
- "lts/*"

os:
- linux
- osx

cache: npm

branches:
  only:
  - master

before_install:
  - npm i -g npm@latest

install:
- npm install

script:
- npm run lint
- npm run style

notifications:
  email:
    on_success: never
    on_failure: always